<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net45" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="Fody" version="6.4.0" targetFramework="net45" developmentDependency="true" />
  <package id="FodyHelpers" version="6.4.0" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net45" />
  <package id="log4net" version="2.0.15" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net45" />
  <package id="NetworkCommsDotNet" version="3.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="NHtmlUnit" version="2.19.0" targetFramework="net45" />
  <package id="Otp.NET" version="1.2.2" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="3.2.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.2.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.2.0" targetFramework="net45" />
  <package id="Smart.Gravity.Client" version="1.6.4" targetFramework="net45" />
  <package id="Smart.Gravity.Model" version="2.1.1" targetFramework="net45" />
  <package id="Smart.Model" version="2.0.0" targetFramework="net45" />
  <package id="Smart.Network" version="2.3.0" targetFramework="net45" />
  <package id="Smart.Security" version="2.0.1" targetFramework="net45" />
  <package id="Smart.SqlHelper" version="2.1.0" targetFramework="net45" />
  <package id="Smart.Utility" version="2.1.2" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" />
</packages>